body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    .registro-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    }
    /*estilos para el logo*/
    .logo-container{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .text-container{
        display: flex;
        flex-direction: column;
    }
    .empresa{
        font-weight: bold;
        font-size: 1.2em;
    }
    .sucursal{
        font-size: 0.9em;
        color: #666;
    }
    .log{
        width: 150px;
        height: auto;
        display: block;
        margin: 10px auto; /* Centra el logo con margen */
    }
    input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    }
    button:hover {
    background-color: #218838;
    }